@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    scroll-behavior: smooth;
  }
  .box_item_ads_popup img {
    display: none !important;
  }
}

@layer components {
  
  .column {
    @apply flex flex-col;
  }
  .isc {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 md:gap-14 p-2;
  }
  .card {
    @apply relative transition-all duration-300 hover:scale-105 rounded-lg overflow-hidden;
  }
  .card-img {
    @apply rounded-lg md:h-72 w-52;
  }
  .card-sub {
    @apply text-light-tosca/60 font-medium text-sm;
  }
  .card-title {
    @apply text-light-tosca font-medium text-sm w-2/3 text-wrap;
  }
  .text-container {
    @apply px-1 py-2 flex gap-2 justify-between;
  }
  .icon-button {
    @apply flex items-center justify-center rounded-lg w-12 h-12 p-2 bg-light-tosca;
  }
  .nav-button {
    @apply bg-dark-tosca/50 rounded-xl p-3 text-light-tosca text-xs flex gap-2 items-center font-medium;
  }
  .placeholder {
    @apply placeholder:text-light-tosca placeholder:font-medium placeholder:text-xs;
  }
  .text-white-semibold {
    @apply text-white font-semibold;
  }
  .text-tosca-medium {
    @apply text-light-tosca/70 font-medium text-xs md:text-sm;
  }
  .opt {
    @apply bg-dark-tosca px-2 h-12;
  }
  .resolution {
    @apply text-tosca-medium text-lg md:w-1/5;
  }
  .link {
    @apply text-sm font-medium transition-all duration-300 hover:text-light-tosca text-dark-tosca border-0 border-l-2 border-black pl-3;
  }
  .episode {
    @apply flex items-center justify-between bg-dark-tosca/50 rounded-xl p-3;
  }
}
